<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <!-- CSS style -->
    <link rel="stylesheet" href="~/css/main.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a asp-controller="Login" asp-action="Index">Startsida</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index">Ändra controller</a>
                </li>
                <li>
                    <a asp-controller="Login" asp-action="Login">Lägg till nytt besök</a>
                </li>
            </ul>
        </nav>

            @RenderBody()
    </div>
</body>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<!-- JavaScript -->
<script src="~/js/main.js"></script>

</html>